<h1>Népitélet statisztika</h1>
<%= link_to "Márkák", {:controller => "brands", :action => "list"} %> || 
<%= link_to "Típusok", {:controller => "types", :action => "list"} %> || 
<%= link_to "Vélemények", {:controller => "verdicts", :action => "list"} %><br/><br/>
<%= yield -%>
